@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Inter';
    text-decoration: none;
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 280px auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--gray-50);
    justify-content: center;
    transition: all .2s ease;
    
    * {
        transition: background-color .4s ease, color .4s ease
    }

    &:has(.pagebar.hidden-bar) {
        main {
            translate: calc(-8.7vw);
        }

        footer {
            width: 100vw;
            translate: 0;
        }
    }
}

::-webkit-scrollbar {
    background-color: var(--gray-50);
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-100);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--brand-300);
}


.pagebar {
    background-color: var(--gray-100);
    height: 100vh;
    box-shadow: var(--sidebar-shadow);
    width: 280px;
    position: fixed;
    transition: translate .35s ease;

    &.hidden-bar {
        translate: -288px 0;
    }
}

.button-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 14px;
    height: 22px;
    border: none;
    background: none;
    z-index: 1;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        background-color: var(--accent-color);
        width: 13px;
        height: 1px;
        transition: rotate .35s ease;
    }

    &::before {
        rotate: -45deg;
        top: 6px;
    }

    &::after {
        rotate: 45deg;
        bottom: 6px;
    }

    &.show-bar::before {
        rotate: 45deg;
    }

    &.show-bar::after {
        rotate: -45deg;
    }
}

nav {
    margin: 3.8em 0 0 14px;
}

.start-link {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 8px;

    i {
        font-size: 20px;
    }

    span {
        font-size: 16px;
    }
}

.content-links {
    margin: 4px 0 0 16px;
}

.content-links li {
    margin-bottom: 9px;
    width: 13.6em;
    padding: 3px 0 3px 10px;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.content-links li:hover {
    background-color: var(--gray-200);
}

.content-links li a {
    color: var(--gray-900);
    font-size: 15px;
}

.theme-switch {
    border: 1px solid var(--gray-900);
    height: 26px;
    width: 68px;
    border-radius: 24px;
    position: absolute;
    margin-left: 14px;
    bottom: 32px;
}

.theme-switch .circle {
    background-color: var(--gray-600);
    position: absolute;
    top: 1px;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    cursor: pointer;
    transition: left .25s ease-out;

    i {
        color: var(--gray-200);
        font-size: 17px;
    }
    
    &.right-placed {
        left: 63%;

        i {
            font-size: 16px;
        }
    }
    &:not(.right-placed) {
        left: 1px;
    }
}


main {
    grid-column: 2;
    padding: 40px 45px 5em;
    transition: all .4s ease-out;
    width: 86%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    .text-container * {
        background: none;
    }
}

.page-title {
    background: linear-gradient(112.5deg, var(--brand-100), var(--brand-500));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 30px;
}

main p {
    color: var(--accent-color);
    width: 100%;
    line-height: 30px;
}

.first-paragraph {
    margin: 18px 0 18px;
    line-height: 28px;
    font-size: 17px;
}

.article-section {
    margin-top: 18px;
}

.container-title {
    color: var(--brand-700);
    margin-top: 8px;
    font-weight: 700;
    font-size: 22px;
}

.container-text {
    color: var(--accent-color);
    line-height: 24px;
    margin-top: 8px;
    font-size: 16px;
}

.members-container {
    display: none;
    margin-top: 20px;

    h3 {
        font-size: 20px;
        color: var(--accent-color);
    }

    .lists {
        margin-top: 8px;
        display: flex;
        gap: 18px;

        ul li {
            margin-bottom: 6px;
            font-size: 15px;
            color: var(--gray-950);
        }
    }
}


footer {
    background-color: var(--gray-200);
    box-shadow: var(--footer-shadow);
    width: calc(100vw - 280px);
    translate: 280px;
    height: 8em;
    z-index: -1;
    box-sizing: border-box;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;
    transition: all .35s ease;
}

footer ul {
    color: var(--gray-950);
    font-size: 14px;

    li:not(:last-child) {
        margin-bottom: 12px;
    }
}


@media (max-width: 850px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: 13em auto;
        transition: all .2s ease;
        justify-items: center;
        
        * {
            transition: background-color .4s ease, color .4s ease
        }

        &:has(.pagebar.hidden-bar) main {
            translate: 0;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .button-toggle {
        width: 22px;
        height: 14px;
        z-index: 2;
        margin-left: -6px;

        &::before {
            top: 0;
            translate: 8px 7px;
        }

        &:not(.show-bar):before {
            rotate: 45deg;
        }

        &:not(.show-bar):after {
            rotate: -45deg;
        }

        &.show-bar::before {
            rotate: -45deg
        }

        &.show-bar::after {
            rotate: 45deg;
        }
    }

    .pagebar {
        height: 12em;
        width: 100vw;
        box-shadow: var(--topbar-shadow);
        border-radius: 0 0 14px 14px;
        background-color: var(--gray-100);
        z-index: 1;

        &.hidden-bar {
            translate: 0 -12.5em;
        }
    }

    nav {
        margin: 16px 0 0 4.8em;
        font-size: 13px;
        display: flex;
        align-items: flex-start;
    }

    .content-links {
        translate: 0 -3px;

    }
    .content-links li {
        margin-bottom: 7px;
        padding: 2px 8px;
        width: max-content;
    }

    .theme-switch {
        top: 20px;
        right: 24px;
        height: 24px;
        width: 60px;
    }

    .theme-switch .circle {
        height: 22px;
        width: 22px;

        &.right-placed {
            left: 62%;
        }
    }

    main {
        margin: 0 auto;
        width: 78%;
        position: absolute;
        top: 24px;
        padding-bottom: 2.2em;
    }

    .members-container {
        display: block;
    }

    footer {
        display: none;
    }
}